<div class="container">
  <div class="user-display-container">
    <img [src]="profilePicturePath" class="profile-picture">
    <h1>{{user.firstName}} {{user.lastName}}</h1>
  </div>
  <app-user-categories [categories]="user.categories" [writePermissions]="writePermissions" (interestRemoved)="removeInterest($event)"></app-user-categories>
  <app-manual-interest-adding [allCategories]="allCategories" [writePermissions]="writePermissions" (interestAdded)="addInterest($event)"></app-manual-interest-adding>
</div>
