.container {
  margin: 1rem;
}

.user-display-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.profile-picture {
  border-radius: 20rem;
  width: 10rem;
  margin-right: 1rem;
}
