.container {
  margin-top: 1.5rem;
}

.category {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.mat-form-field {
  width: 30rem;
}

.new-interests-title {
  margin-top: 0;
}

.plus-circle:hover {
  cursor: pointer;
}

.new-interest-container {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.error-message {
  color: red;
}
