table {
  width: 100%;
  margin-top: 25px;
}

mat-form-field {
  margin-right: 25px;
}

.main-div{
  padding: 2rem;
  height: 100vh;
  background-color: #eeeeee;

}

.mat-row:hover {
  background-color: lightgrey;
  cursor: pointer;
}
